<<<<<<< HEAD
.center {

    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 120px;
    height: 100px;
    border-radius: 4px;
    background: #1c819c;
    transition: width 1s;

}
.center:hover {
    width: 300px;
}
#inventar {
    background-color: #1c819c;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 400px;
    margin-left: 120px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: large;
    font-family: monospace;
}
label {
    display: block;
}
#grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;

}
#para {
    grid-area: 1/2/3/4;
}
#para2 {
    grid-area: 4/3/5/5;
}
=======
.center {

    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 120px;
    height: 100px;
    border-radius: 4px;
    background: #1c819c;
    transition: width 1s;

}
.center:hover {
    width: 300px;
}
#inventar {
    background-color: #1c819c;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 400px;
    margin-left: 120px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: large;
    font-family: monospace;
}
label {
    display: block;
}
>>>>>>> 932e7185e5f8ed4532083ad58612ed02ca4e44ff
